<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "arishfashion"
    versionCode = "14"
    version     = "1.0.4" >

<!-- versionCode is optional and Android only -->

  <name>Arish Fashion</name>

  <description>
      Arisfashion is a leading clothing retailer.
  </description>
  
  <platform name="android">
        <icon src="res/logo-icon-36x36.png" density="ldpi" />
        <icon src="res/logo-icon-48x48.png" density="mdpi" />
        <icon src="res/logo-icon-72x72.png" density="hdpi" />
        <icon src="res/logo-icon-96x96.png" density="xhdpi" />
        <icon src="res/logo-icon-144x144.png" density="xxhdpi" />
        <icon src="res/logo-icon-196x196.png" density="xxxhdpi" />
    </platform>
    
    <platform name="ios">
        <icon src="res/iTunesArtwork@1x.png" />
        <icon src="res/iTunesArtwork@2x.png" />
        <icon src="res/iTunesArtwork@3x.png" />
        <icon src="res/ios/Icon-App-20x20@1x.png" />
        <icon src="res/ios/Icon-App-20x20@2x.png" />
        <icon src="res/ios/Icon-App-20x20@3x.png" />
        <icon src="res/ios/Icon-App-29x29@1x.png" />
        <icon src="res/ios/Icon-App-29x29@2x.png" />
        <icon src="res/ios/Icon-App-29x29@3x.png" />
        <icon src="res/ios/Icon-App-40x40@1x.png" />
        <icon src="res/ios/Icon-App-40x40@2x.png" />
        <icon src="res/ios/Icon-App-40x40@3x.png" />
        <icon src="res/ios/Icon-App-57x57@1x.png" />
        <icon src="res/ios/Icon-App-57x57@2x.png" />
        <icon src="res/ios/Icon-App-60x60@1x.png" />
        <icon src="res/ios/Icon-App-60x60@2x.png" />
        <icon src="res/ios/Icon-App-60x60@3x.png" />
        <icon src="res/ios/Icon-App-72x72@1x.png" />
        <icon src="res/ios/Icon-App-72x72@2x.png" />
        <icon src="res/ios/Icon-App-76x76@1x.png" />
        <icon src="res/ios/Icon-App-76x76@2x.png" />
        <icon src="res/ios/Icon-App-76x76@3x.png" />
        <icon src="res/ios/Icon-App-83.5x83.5@2x.png" />
        <icon src="res/ios/Icon-Small-50x50@1x.png" />
        <icon src="res/ios/Icon-Small-50x50@2x.png" />
        <icon src="res/ios/ItunesArtwork@2x.png" />
    </platform>

  <author href="https://acsindia.in" email="info@acsindia.in">
      Sukanta Das Bairagya
  </author>
  
  <gap:platforms>
      <gap:platform name="android" />
      <gap:platform name="ios" />
  </gap:platforms>
    
  <platform name="android" />
  <platform name="ios" />
  <platform name="winphone" /> 
  
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" subdomains="true" />
  <allow-navigation href="*" />

</widget>
