<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.arishfashion.app"
    versionCode = "12"
    version     = "1.0.2" >

<!-- versionCode is optional and Android only -->

  <name>Arish Fashion</name>

  <description>
      Arisfashion is a leading clothing retailer.
  </description>
  
  <platform name="android">
        <icon src="res/logo-icon-36x36.png" density="ldpi" />
        <icon src="res/logo-icon-48x48.png" density="mdpi" />
        <icon src="res/logo-icon-72x72.png" density="hdpi" />
        <icon src="res/logo-icon-96x96.png" density="xhdpi" />
        <icon src="res/logo-icon-144x144.png" density="xxhdpi" />
        <icon src="res/logo-icon-196x196.png" density="xxxhdpi" />
    </platform>

  <author href="https://acsindia.in" email="info@acsindia.in">
      Sukanta Das Bairagya
  </author>
  
  <gap:platforms>
      <gap:platform name="android" />
      <gap:platform name="ios" />
  </gap:platforms>
  
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" subdomains="true" />
  <allow-navigation href="*" />

</widget>
